/* @import "/node_modules/bootstrap/scss/bootstrap"; */
@import "src/assets/scss/reset.scss";
@import "src/assets/scss/variables.scss";
@import "src/assets/scss/typography.scss";
@import "src/assets/scss/utilities.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.top-nav {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #f7f7f7;
    padding: 0 40px;
    
    .menu-list {
        display: inline-flex;
        justify-content: center;
        gap: 30px;
        font: 300 18px/1 $font-montserrat;
        text-transform: uppercase;
        letter-spacing: 0.04em;
    }

    .menu-item {
        position: relative;
    }

    .submenu-list {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background: white;
        box-shadow: 0 0 10px rgba(#000,0.05);
        min-width: 220px;
        font-size: 13px;
        padding: 18px 10px;
        border-radius: 6px;

        .menu-link {
            color: #777;
        }
    }

    .menu-link {
        @apply text-primary;        
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        transition: $smooth;
        &:hover {
            color: #000;
            transform: translateY(-2px);
        }
    }

    .cart {
        position: relative;
        cursor: pointer;
        margin-top: -12px;
        &:hover {
            .icon-bag {
                 opacity: 1;
            }
            .cart-notification {
                transform: scale(1.15);
            }
        }

        .icon-bag {
            opacity: .5;
            transition: $smooth;
        }

        .cart-notification {
            @apply bg-primary text-white;
            position: absolute;
            bottom: -4px;
            right: -44px;
            border-radius: 50%;
            height: 20px;
            width: 20px;     
            font: 600 1.3rem/1.4 $font-zilla-slab;
            transition: all .1s ease-in;
            span {
                display: inline-block;
                margin-top: -3px;
            }

        }
    }
}

.loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    @apply flex-centered text-center py-4 px-8 min-h-[40px] rounded-[20px] font-montserrat font-medium text-11px leading-none uppercase duration-200;
    &-primary {
        @apply bg-primary text-white hover:bg-222
    }
    &-secondary {
        @apply bg-secondary hover:bg-999
    }

    &.disabled {
        @apply bg-secondary opacity-50 cursor-not-allowed;
    }
}

