// *************************************
//   Utilities
// *************************************

.flex-centered {
  display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.absolute-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
  
  // -------------------------------------
  //   Block link
  // -------------------------------------
  
  .block-link {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
      }