// *************************************
//
//   Variables
//
// *************************************


// -------------------------------------
//   Typography
// -------------------------------------

$font-zilla-slab: 'Zilla Slab', serif;
$font-montserrat: 'Montserrat', sans-serif;

// -------------------------------------
//   Colors
// -------------------------------------

$red: #ec2a3a;

// -------------------------------------
//   Animations
// -------------------------------------

$smooth: 0.2s all ease-in;
$smooth-slow: 0.4s all ease-in;
