// *************************************
//   Variables
// *************************************


// -------------------------------------
//   Typography
// -------------------------------------

$font-zilla-slab: 'Zilla Slab', serif;
$font-montserrat: 'Montserrat', sans-serif;

// -------------------------------------
//   Transitions
// -------------------------------------

$smooth: 0.2s all ease-in;
$smooth-slow: 0.4s all ease-in;
